<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body style="background: <%- theme.background %>">
    <div class="container">
        <%- partial('_partial/header') %>
        <main class="main">
            <%- body %>
        </main>
        <aside class="aside">
            <div class="close"></div>
            <section class="aside-section">
                <%- partial('_widget/about') %>
            </section>
            <section class="aside-section">
                <%- partial('_widget/recent') %>
            </section>
            <section class="aside-section">
                <%- partial('_widget/search') %>
            </section>
            <section class="aside-section">
                <%- partial('_widget/archive') %>
            </section>
            <section class="aside-section tag">
                <%- partial('_widget/tag') %>
            </section>
        </aside>
    </div>
</body>

</html>