<article class="post">
    <% if (page.categories){%>
    <% page.categories.each(function (cat) { %>
    <h4 class="post-cat">
        <a href="<%- url_for(cat.path) %>">
            <%= cat.name %>
        </a>
    </h4>
    <%  }) %>
    <% } %>
    <h2 class="post-title">
        <%= page.title %>
    </h2>
    <ul class="post-date">
        <li>
            <%- date(page.date, "YYYY-MM-DD") %>
        </li>
        <li>
            <%= config.author %>
        </li>
    </ul>
    <div class="post-content">
        <%- page.content %>
    </div>
    <% if (page.tags){%>
    <div class="post-tag">
        tags:&nbsp;
        <% page.tags.each(function (tag) { %>
            <a href="<%- url_for(tag.path) %>">
                <%= tag.name %>
            </a>,&nbsp;
        <%  }) %>
    </div>
    <% } %>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6206289145662773"
        data-ad-slot="6052934851"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    </article>
<script>
    hljs.configure({
        useBR: false
    });
    document.querySelectorAll('.code').forEach((block) => {
        hljs.highlightBlock(block);
    });
    document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
    });
</script>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '<%= url %>';
        this.page.identifier = '<%= url %>';
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://home-gvovq5dmx7.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
        tex2jax: { inlineMath: [ ["$", "$"], ["\\(","\\)"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno",skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']},
        TeX: {  noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } }, Macros: { href: "{}" } },
        messageStyle: "none"
    }); 
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>