<article class="post">
    <% if (page.categories){%>
    <% page.categories.each(function (cat) { %>
    <h4 class="post-cat">
        <a href="<%- url_for(cat.path) %>">
            <%= cat.name %>
        </a>
    </h4>
    <%  }) %>
    <% } %>
    <h2 class="post-title">
        <%= page.title %>
    </h2>
    <ul class="post-date">
        <li>
            <%- date(page.date, "YYYY-MM-DD") %>
        </li>
        <li>
            <%= config.author %>
        </li>
    </ul>
    <div class="post-content">
        <%- page.content %>
    </div>
    <% if (page.tags){%>
    <div class="post-tag">
        tags:&nbsp;
        <% page.tags.each(function (tag) { %>
            <a href="<%- url_for(tag.path) %>">
                <%= tag.name %>
            </a>,&nbsp;
        <%  }) %>
    </div>
    <% } %>
<script>
    hljs.configure({
        useBR: false
    });
    document.querySelectorAll('.code').forEach((block) => {
        hljs.highlightBlock(block);
    });
    document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
    });
</script>

<hr class="hr-color">

<p class="post-end-line">Ad</p>
<p class="post-end-line-small">This may help me earn some money. (Of course you can <a href="/donation/">donate me</a> directly)</p>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6206289145662773"
     data-ad-slot="6052934851"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<hr class="hr-color">
<p class="post-end-line">Comments</p>
<p class="post-end-line-small">可以去 <a href="/message">全站留言板</a> 來留言喔！</p>